$fuzzy-gray-muted: #252525;
$fuzzy-gray-loud: #aaa;
$fuzzy-accent: #3c3c3c;
$fuzzy-zindex: 100;

.fuzzy-picker-background {
  background: rgba(0, 0, 0, 0.2);

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: flex-start;
  justify-content: center;

  padding-top: 300px; // fall back
  padding-top: 10vh;

  z-index: $fuzzy-zindex;

  .fuzzy-picker {
    max-width: 600px;
    min-width: 400px;

    background: #252525;
    color: #ddd;
    border: 1px solid $fuzzy-gray-muted;
    box-shadow: 0px 0px 16px #333;
    //font-size: 1rem;
    font-size: 12px;

    display: flex;
    flex-direction: column;

    .fuzzy-picker-top-text {
      color: $fuzzy-gray-loud;
      margin-top: 0.5em;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      font-size: 0.8em;
      user-select: none;

      .fuzzy-picker-label {
        float: left;
      }
      .fuzzy-picker-instructions {
        float: right;
        span {
          margin: 0.35em;
        }
      }
    }

    input[type="text"] {
      border: 1px solid #0195fe;
      color: #ddd;
      background: #252525;
      outline: none;

      flex: 1;
      font-size: 1.4em;
      padding: 0.2rem 0.5rem;
      margin: 0.5rem 0.5rem;
    }

    ul {
      list-style-type: none;
      padding-left: 0px;
      margin-top: 0.2em;
      margin-bottom: 0.5em;

      li {
        margin: 0.1em 0rem;
        padding: 0.6em 1em;
        //border-radius: 4px;
        cursor: pointer;

        &.selected {
          background-color: $fuzzy-accent;
          color: #fff;
        }
      }
    }
  }
}
