@import "./fuzzy-picker/index.scss";

body {
  margin: 0;
  padding: 0;
}
.main {
  margin: 0;
  padding: 0;
}
.content {
  display: flex;
  flex-direction: row;
}

.centred {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-flow: nowrap;
}
.props-editor {
  position: sticky;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  .CodeMirror {
    height: calc(100% - 10px);
  }
}
.json-valid {
  width: 300px;
  height: 10px;
  background: gray;
  display: flex;
  flex-direction: row;
  span {
    display: block;
    width: 0%;
    height: 10px;
    transition: width 100ms;
  }
  .s-valid {
    background: #4ef74e;
  }
  .s-invalid {
    background: #b33a3a;
  }

  &.valid {
    .s-valid {
      width: 100%;
    }
    .s-invalid {
      width: 0%;
    }
  }
  &.invalid {
    .s-valid {
      width: 0%;
    }
    .s-invalid {
      width: 100%;
    }
  }
}
